{% extends 'index.html' %}
{%  load static %}

{% block title %}xlartas | second task{% endblock %}

{% block content %}
    <div class="u">
        <div class="u__container">
            <div class="u__content" style="justify-content: center; gap: 40px;">
                <p class="u-title">Second Task</p>
                <form class="u__form" method="post" action="{% url 'task_second' %}">{% csrf_token %}
                    <div class="u-help">
                        {% if result %}
                            <div class="u__fields" style="flex-direction: row; gap: 20px; margin-bottom: 20px;">
                                <span class="u-text" style="color: #72ff5d;">Solution: </span>
                                {% if result == 'RED' %}
                                    <span class="u-text" style="color: #fd6262;">{{ result }}</span>
                                {% endif %}
                                {% if result == 'GREEN' %}
                                    <span class="u-text" style="color: #98fd62;">{{ result }}</span>
                                {% endif %}
                                {% if result == 'BLUE' %}
                                    <span class="u-text" style="color: #6277fd;">{{ result }}</span>
                                {% endif %}
                            </div>
                        {% endif %}
                        <div class="u__fields" style="gap: 10px; width: 100%;">
                            <div class="u__fields" style="flex-direction: row; gap: 20px; margin-top: 20px;">
                                <p class="u-text">Enter the item number: </p>
                                <input class="u-text" type="number" name="item_number" max="100" min="1" required
                                       style="background-color: rgba(0,0,0,0);
                                              max-width: 120px;
                                              border: 2px solid #EEEEEE;
                                              border-radius: 8px;
                                              text-align: center;">
                            </div>
                        </div>
                    </div>

                    <input class="u-submit" type="submit" value="Guess the color" style="margin: 0 !important;">

                </form>
            </div>
        </div>
    </div>
    <script>
         window.addEventListener('load', function(e) {
             document.getElementsByTagName('footer')[0].style.display = 'none';
         });
    </script>
{% endblock %}