{% extends 'index.html' %}
{%  load static %}

{% block title %}xlartas | Privacy Policy{% endblock %}

{% block content %}
    <div class="u">
        <div class="u__container">
            <div class="u__content">
                <div class="no_scrollbar" style="display: flex; flex-direction: column; min-width: 100%; align-items: center; color: #f5f5f5; overflow-y: scroll; padding: 30px 30px 30px 30px; gap: 23px">

<p class="u-text3" style="padding-bottom: 30px">Privacy Policy</p>

<p class="u-text" style="color: #f5f5f5;">How do we collect your personal details?</p>
<p class="u-text2" style="color: #aaaaaa; line-height: 25px; max-width: 500px !important;">
    &nbsp;&nbsp;&nbsp;&nbsp;When you sign up for our service,
    we store your account's email address and username. In the future,
    the nickname and the name of the guild, if you add them. We do not have access to the password
    or other details of your third-party account.</p>

<p class="u-text" style="color: #f5f5f5;">What other data do we collect from you?</p>
<p class="u-text2" style="color: #aaaaaa; line-height: 25px; max-width: 500px !important;">
    &nbsp;&nbsp;&nbsp;&nbsp;When you use xlartas's products, we may collect various usage data and errors to make
    future improvements to our service and solve your problems more efficiently.</p>

<p class="u-text" style="color: #f5f5f5;">Do we share your information with third parties?</p>
<p class="u-text2" style="color: #aaaaaa; line-height: 25px; max-width: 500px !important;">
    &nbsp;&nbsp;&nbsp;&nbsp;No, any data we collect from you, solely serves the purpose of potentially
    improving our service. We do not share or sell any information to third-parties.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}