{% extends 'index.html' %}
{% load static %}

{% block title %}xlartas | BUY{% endblock %}

{% block content %}
    <div class="u">
        <div class="u__container">
            <div class="u__content" style="justify-content: center; gap: 40px;">
                <p class="u-title">{{ context.name }}</p>
                <div class="u__form"
                     style="margin-bottom: 60px; justify-content: center; gap: 20px;  height: 100%; max-height: 95.5%;">
                    <p class="u-text" style="text-align: center; max-height: 10%; color: #F5F5F5;" >Никита Артасов</p>
                    <div class="adaptive-width60 hide_scroll" style="max-height: 90%; overflow: auto;">
                        <p class="u-text2" style="line-height: 24px; letter-spacing: 1px; color: #aaaaaa; font-weight: 100;">
                            &nbsp;&nbsp;&nbsp;&nbsp;Начал заниматься программированием с 2020 года. Изначально осваивал
                            desktop разработку на основе python Qt framework.
                            Через несколько месяцев изучения попробовал QT C++,
                            увидев некоторые преимущества(компиляция в executable файл, например),
                            начал изучать его. Работа с WinAPI, парсинг данных с различных api,
                            статическая сборка проекта, работа с потоками, отправкой данных на сервер.
                            В университете учил Си, ничего "крупного" на нем не писал. После создания
                            нескольких, относительно крупных, приложений(о них ниже), начал изучать
                            front-end dev. Html, css, js, sass. Немного вникал в bootstrap и webpack.
                            После того как сверстал первый нормальный, адаптивный, стилизованный сайт,
                            захотелось изучать backend. Я выбрал Django Framework потому, что это
                            простой для понимания, как мне показалось, framework на знакомом мне языке,
                            с читабельной документацией. Тут уже началась работа с MTV моделью, с
                            SQLite3 после с MySql, шаблонизаторами, настройкой админ панели и т.д.
                            Использовал различные дополнительные приложения для django. Например,
                            django rest framework для создания api для взаимодействия приложений Qt и
                            django на сервере. Курсов не проходил. Всё учил по видео с youtube, а после
                            быстрого наступления их нехватки для решения возникающих проблем, углублялся
                            в документацию или искал что-то в англоязычном сегменте youtube. Git немного
                            изучал в университете и использовал в GitHub pages для временного хостинга
                            первых проб верстки. Умею пользоваться Figma и photoshop. Как итог имеется
                            xlartas.ru, адаптивный сайт развернутый на timeweb с mysql, с регистрацией
                            пользователей, с мини-магазином моих же приложений для компьютерной игры, с
                            подтверждением по почте, с recaptcha, с оплатой товара через Qiwi api. Такие
                            интрументы как vue.js, node.js, typescript, react, не изучал, но планирую постепенно
                            учить. <br>

                            В веб разработке использовал VSCode, PyCharm Proб пробовал WebStorm.
                            VSCode для front-end части, PyCharm для backend.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        window.addEventListener('load', function (e) {
            document.getElementsByTagName('footer')[0].style.display = 'none';
        });
    </script>
{% endblock %}