{# Stage 1 - input email for send confirmation reset password CODE #}
{% extends 'index.html' %}
{%  load static %}

{% block title %}xlartas{% endblock %}

{% block content %}
    <div class="u">
        <div class="u__container">
            <div class="u__content">
                <form class="u__form" method="post" action="{% url 'password_reset' %}">{% csrf_token %}

                    <div class="u-help">
                        <p class="u-h1" style="margin: 0 0 20px 0; text-align: center;">Password reset</p>
                        {% if invalid %}
                            <span class="invalid">{{ invalid }}</span>
                        {% endif %}
                        {% if captcha_invalid %}
                            <span class="invalid">{{ captcha_invalid }}</span>
                        {% endif %}
                        <div class="u__fields" style="margin-bottom: 13px;">
                            <input name="email" type="text" placeholder="Email" class="u__field" style="text-align: center;padding: 0;">
                        </div>
                        <label style="display: none;" class="insert_captcha"></label>
                    </div>
                    <input class="u-submit" type="submit" value="Next">

                </form>
            </div>
        </div>
    </div>
    <script>
        let inputs = document.getElementsByClassName('u__field')
        for (let i = 0; i < inputs.length; i++){
            inputs[i].addEventListener('blur', function (e) {
                if(inputs[i].value !== ''){
                    console.log('1')
                    inputs[i].style.borderColor = '#ff5f6c';
                }
                else{
                    console.log('2')
                    inputs[i].style.borderColor = 'rgba(244, 247, 245, 0.7)';
                }
            })
        }
        window.addEventListener('load', function(e) {
            var for_insert = document.getElementsByClassName('insert_captcha')[0];
            var el = document.createElement('script');
            el.setAttribute('src', 'https://www.google.com/recaptcha/api.js');
            var el2 = document.createElement('div');
            if(document.getElementsByTagName('body')[0].classList.contains('_touch')){
                el2.setAttribute("data-size", "compact")
            }
            el2.setAttribute("data-sitekey", "{{ RECAPTCHA_KEY }}");
            el2.classList.add('g-recaptcha');
            for_insert.before(el);
            for_insert.before(el2);
        });
    </script>
{% endblock %}