{# input new password#}
{% extends 'index.html' %}
{%  load static %}

{% block title %}xlartas | RESET PASSWORD{% endblock %}

{% block content %}
    <div class="u">
        <div class="u__container">
            <div class="u__content">
                <form class="u__form" method="post" action="{% url 'password_reset_confirmation' CODE %}">{% csrf_token %}

                    <div class="u-help">
                        <p class="u-h1" style="margin-bottom: 20px;">Password reset</p>
                        {% if invalid %}
                            <span class="invalid">{{ invalid }}</span>
                        {% endif %}
                        <div class="u__fields">
                            <input name="new_password" type="password" placeholder="New password" class="u__field">
                        </div>
                    </div>
                    <input class="u-submit" type="submit" value="Next">

                </form>
            </div>
        </div>
    </div>
    <script>
        let inputs = document.getElementsByClassName('u__field')
        for (let i = 0; i < inputs.length; i++){
            inputs[i].addEventListener('blur', function (e) {
                if(inputs[i].value !== ''){
                    inputs[i].style.borderColor = '#ff5f6c';
                }
                else{
                    inputs[i].style.borderColor = 'rgba(244, 247, 245, 0.7)';
                }
            })
        }
    </script>
{% endblock %}