{% extends 'index.html' %}
{%  load static %}

{% block title %}xlartas | {{ product.long_name }} BUY{% endblock %}

{% block content %}
    <div class="u">
        <div class="u__container">
            <div class="u__content" style="justify-content: center; gap: 40px;">
                <p class="u-text7 u-text-align-center" style="color: #F5F5F5; font-weight: 500">{{ product.long_name }}</p>
                <form class="u__form" method="post" action="{% url 'buy' %}">{% csrf_token %}
                    <div class="u-help">
                        {% if captcha_invalid %}
                            <span class="invalid">{{ captcha_invalid }}</span>
                        {% endif %}
                        {% if invalid %}
                        <span class="invalid" style="padding: 0; margin: 0;">
                            {{ invalid }}
                        </span>
                        {% endif %}
                        <div class="u__fields" style="gap: 10px; width: 100%; max-width: 600px; margin-bottom: 20px;">
                            <div class="u__field-radio hover1_05 u__field-radio-active" onclick="radio_click(0)"><div class="radio-name"><span>Week</span></div><div class="radio-price"><span>{{ product.price_week }}₽</span></div></div>
                            <div class="u__field-radio hover1_05" onclick="radio_click(1)"><div class="radio-name"><span>Month</span></div><div class="radio-price"><span>{{ product.price_month }}₽</span></div></div>
                            <div class="u__field-radio hover1_05" onclick="radio_click(2)"><div class="radio-name"><span>Month x6</span></div><div class="radio-price"><span>{{ product.price_6_month }}₽</span></div></div>
                            <div class="u__field-radio hover1_05" onclick="radio_click(3)"><div class="radio-name"><span>Forever</span></div><div class="radio-price"><span>{{ product.price_forever }}₽</span></div></div>
                            <input name="price" id="price" type="hidden" value="price_week">
                            <input name="product" id="product" type="hidden" value="{{ product.name }}">
                            <input name="promo_code" class="u__field u-text3 u-text-align-center" value="" placeholder="PROMO-CODE" style="text-transform: uppercase;">
                        </div>
                        <input class="u-submit2" type="submit" value="Buy" style="margin: 20px 0 0 0 !important;">
                    </div>

                </form>
            </div>
        </div>
    </div>
    <script>
        function radio_click(index) {
            let radio = document.getElementsByClassName('u__field-radio');
            for (let i = 0; i < radio.length; i++){
                radio[i].classList.remove('u__field-radio-active');
            }
            radio[index].classList.add('u__field-radio-active');
            if(index === 0){
                document.getElementById('price').value = 'price_week';
            }
            if(index === 1){
                document.getElementById('price').value = 'price_month';
            }
            if(index === 2){
                document.getElementById('price').value = 'price_6_month';
            }
            if(index === 3){
                document.getElementById('price').value = 'price_forever';
                
            }
        }

        window.addEventListener('load', function(e) {
            var for_insert = document.getElementsByClassName('u-submit2')[0];
            var el = document.createElement('script');
            el.setAttribute('src', 'https://www.google.com/recaptcha/api.js');
            var el2 = document.createElement('div');
            if(document.getElementsByTagName('body')[0].classList.contains('_touch')){
                el2.setAttribute("data-size", "compact")
            }
            el2.setAttribute("data-sitekey", "{{ RECAPTCHA_KEY }}");
            el2.classList.add('g-recaptcha');
            for_insert.before(el);
            for_insert.before(el2);
        });
    </script>
{% endblock %}