{% extends 'index.html' %}
{%  load static %}

{% block title %}xlartas | PAY{% endblock %}

{% block content %}
    <div class="u">
        <div class="u__container u-disable-tap-highlight">
            <div class="u__content" style="justify-content: center; gap: 40px;">
               <p class="u-text6 u-text-align-center" style="color: #F5F5F5; font-weight: 500">PAYMENT</p>
                <form class="u__form" method="post" action="{% url 'pay' %}">{% csrf_token %}
                    <div class="u-help">
                        <div class="u__fields">
                            <p class="u-field u-text3" style="line-height: 1.5em; color: #f5f5f5;">
                                Product: {{ bill.customFields.product }}<br>
                                License time: {{ bill.customFields.license_time }}<br>
                                Price: {{ bill.amount.value }} {{ bill.amount.currency }}<br>
                                Status: {{ bill.status.value }}<br>
                            </p>
                            <a href="{% url 'terms_and_conditions' %}" style="font-weight: 600" class="invalid">Terms And Conditions</a>
                            <a href="{{ bill.payUrl }}" target="_blank" class="u-submit2 u-text3">
                                PAY
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}