{% extends 'index.html' %}
{%  load static %}
{% load sass_tags %}

{% block title %}xlartas{% endblock %}

{% block link_content_css %}
    <link href="{% sass_src 'APP_home/css/main_home.sass' %}" rel="stylesheet" type="text/css">
{% endblock %}


{% block content %}
<main class="main">
	<div class="main__container">
		<div class="main__content-border">
			<div class="main__content">

				<div class="main__content-ava-block">
					<img src="" alt="" class="main__content-ava">
				</div>


				<div class="info">
					<p class="info-nick">xlartas</p>
					<p class="info-name">Nikita Artasov</p>


					<div class="links">
						<a href="https://t.me/xldeal" class="fab fa-telegram u-disable-tap-highlight" aria-hidden="true"></a>
                        <a href="mailto:xl@xlartas.ru" target="_blank" class="fas fa-envelope u-disable-tap-highlight" aria-hidden="true"></a>

					</div>

{#  				<h2>SERVICE</h2>#}
{#					<div class="info__el">#}
{#						<div class="info__el-description">#}
{#							<p class="info__el-description-name">#}
{#								Web-Development#}
{#								<i class="fas fa-chevron-down ico-up-down"></i>#}
{#							</p>#}
{#							<p class="info__el-description-text">&nbsp;&nbsp;&nbsp;&nbsp;Development of websites of any orientation – single-pages, multi-pages, shops, portals, personal blogs, landing pages. A unique design or the use of a ready-made template of your choice. Layout and audit, work testing. if necessary, integration with third-party infos. As a result – a modern website, search engines and users will love it, with a user-friendly interface, good navigation, technically reliable.</p>#}
{#						</div>#}
{#						<div class="info__el-table">#}
{#							<div class="info__el-table-el">#}
{#								<p class="info__el-table-el-description">Front-end dev.</p>#}
{#							</div>#}
{#							<div class="info__el-table-el">#}
{#								<div>#}
{#									<p class="info__el-table-el-price">15$+</p>#}
{#								</div>#}
{#							</div>#}
{#                            <div class="info__el-table-el">#}
{#								<p class="info__el-table-el-description">PSD2HTML</p>#}
{#							</div>#}
{#							<div class="info__el-table-el">#}
{#								<div>#}
{#									<p class="info__el-table-el-price">10$+</p>#}
{#								</div>#}
{#							</div>#}
{#							<div class="info__el-table-el">#}
{#								<p class="info__el-table-el-description">Back-end (Django only)</p>#}
{#							</div>#}
{#							<div class="info__el-table-el">#}
{#								<div>#}
{#									<p class="info__el-table-el-price">17$+</p>#}
{#								</div>#}
{#							</div>#}
{#						</div>#}
{#					</div>#}
{#					<div class="info__el">#}
{#						<div class="info__el-description">#}
{#							<p class="info__el-description-name">#}
{#								Desktop-<br>development#}
{#								<i class="fas fa-chevron-down ico-up-down"></i>#}
{#							</p>#}
{#							<p class="info__el-description-text">&nbsp;&nbsp;&nbsp;&nbsp;Development of applications for a Windows computer. GUI APPS with C++ or Python framework QT. Also work with external APIs, WinAPI, bd parsing, exel, etc. Automation of processes on a PC.</p>#}
{#						</div>#}
{#						<div class="info__el-table">#}
{#							<div class="info__el-table-el">#}
{#								<p class="info__el-table-el-description">С++ QT Static build</p>#}
{#							</div>#}
{#							<div class="info__el-table-el">#}
{#								<div>#}
{#									<p class="info__el-table-el-price">30$+</p>#}
{#								</div>#}
{#							</div>#}
{#							<div class="info__el-table-el">#}
{#								<p class="info__el-table-el-description">С++ QT</p>#}
{#							</div>#}
{#							<div class="info__el-table-el">#}
{#								<div>#}
{#									<p class="info__el-table-el-price">25$+</p>#}
{#								</div>#}
{#							</div>#}
{#							<div class="info__el-table-el">#}
{#								<p class="info__el-table-el-description">Python QT</p>#}
{#							</div>#}
{#							<div class="info__el-table-el">#}
{#								<div>#}
{#									<p class="info__el-table-el-price">25$+</p>#}
{#								</div>#}
{#							</div>#}
{#							<div class="info__el-table-el">#}
{#								<p class="info__el-table-el-description">Python</p>#}
{#							</div>#}
{#							<div class="info__el-table-el">#}
{#								<div>#}
{#									<p class="info__el-table-el-price">10$+</p>#}
{#								</div>#}
{#							</div>#}
{#						</div>#}
{#					</div>#}
{#					<div class="info__el">#}
{#						<div class="info__el-description">#}
{#							<p class="info__el-description-name">#}
{#								Other#}
{#							</p>#}
{#						</div>#}
{#						<div class="info__el-table">#}
{#							<div class="info__el-table-el">#}
{#								<p class="info__el-table-el-description">Individual consultation on any issue.</p>#}
{#							</div>#}
{#							<div class="info__el-table-el">#}
{#								<div>#}
{#									<p class="info__el-table-el-price">15$ / Hour</p>#}
{#								</div>#}
{#							</div>#}
{#						</div>#}
{#						<p class="info__el-table-el-price" style="text-align: center; padding: 20px 0px 0px 0px;">Ask for the rest in messages on gmail, telegram or vk.</p>#}
{#					</div>#}

				</div>

			</div>
		</div>
	</div>
</main>
{% endblock %}