{% extends 'index.html' %}
{% load static %}

{% block title %}xlartas | {{ user.get_username }}{% endblock %}


{% block content %}
    <div class="u">
        <div class="u__container">
            <div class="u__content">
                <div class="u-help no_scrollbar" style="overflow-y: scroll;">
                    <p class="u-text6 u-text-align-center" style="
                    letter-spacing: 0.1em;
                    color: #F5F5F5;
                    font-weight: 500">
                        {{ user.get_username }} Profile
                    </p>

                    <div class="u__fields no_scrollbar" style="
                    padding-top: 5em;
                    padding-bottom: 10px;
                    overflow-y: auto;
                    gap: 30px;
                    width: 80%;
                    max-width: 700px !important;">


                        <div style="display:flex; justify-content: space-between; width: 100%;">
                            <div style="width: 100%; margin: 0 auto; display:flex; flex-direction: column; justify-content: center;">
                                <span class="u-text3" style="color: #aaaaaa; margin: 0 auto; text-align: center;">Login</span>
                            </div>
                            <div style="width: 100%; margin: 0 auto; display:flex; flex-direction: column; justify-content: center;">
                                <p class="u-text3" style="overflow: hidden; width: 100%; text-align: center; margin: 0 auto; color: #f5f5f5;">{{ user.username }}</p>
                            </div>
                        </div>


<div style="min-height: 1px; width: 100%; background-color: #bbbbbb;"></div>

                        <div style="display:flex; justify-content: space-between; width: 100%;">
                            <div style="width: 100%; margin: 0 auto; display:flex; flex-direction: column; justify-content: center;">
                                <span class="u-text3" style="color: #aaaaaa; margin: 0 auto; text-align: center;">Email</span>
                            </div>
                            <div style="width: 100%; margin: 0 auto; display:flex; flex-direction: column; justify-content: center;">
                                <input readonly class="u-text1" style="background-color: rgba(0,0,0,0); max-width: 450px; overflow: hidden; width: 100%; text-align: center; margin: 0 auto; color: #f5f5f5; padding-bottom: 1px;" value="{{ user.email }}">
                            </div>
                        </div>
                        {% for product_name in least_days.items %}
<div style="min-height: 1px; width: 100%; background-color: #bbbbbb;"></div>
                        <div style="display:flex; justify-content: space-between; width: 100%;">
                            <div style="width: 100%; margin: 0 auto; display:flex; flex-direction: column; justify-content: center;">
                                <span class="u-text3" style="color: #aaaaaa; margin: 0 auto; text-align: center;">{{ product_name.0 }}</span>
                            </div>
                            <div style="width: 100%; margin: 0 auto; display:flex; flex-direction: column; justify-content: center;">
                                {% if product_name.1 > 0%}
                                    <p class="u-text3" style="overflow: hidden; width: 100%; text-align: center; margin: 0 auto; color: #8bff8b;">{{ product_name.1 }} hour</p>
                                {% elif product_name.1 == 'FOREVER'%}
                                    <p class="u-text3" style="overflow: hidden; width: 100%; text-align: center; margin: 0 auto; color: #8bff8b;">{{ product_name.1 }}</p>
                                {% else %}
                                    <p class="u-text3" style="overflow: hidden; width: 100%; text-align: center; margin: 0 auto; color: #ff8b9f;">{{ product_name.1 }}</p>
                                {% endif %}
                            </div>
                        </div>
                        {% endfor %}
                        <a href="{% url 'pay' %}" class="u-submit2 u-text3 u-disable-tap-highlight" style="margin-top: 30px;">Check payment</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}